{% extends "apex/base.html" %}
{% load static %}
{% block content %}
    <h1>Home Page</h1>
    <p><i>Apex means ‘The Top; ‘The Pinnacle’. </i></p>

    <body>
      <!-- 1st image  -->

      <div class="row">
        <div class="col-sm-5">
          <div class="card" style= "width: 18rem;">

            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
            </script>

            <img src="{% static 'apex/media/hollow.jpg' %}"> <!--   alt="  " -->
              <div class="card-border-primary mb-2" style="max-width: 18rem;">
                <div class="card-title"> Pipes </div>
                <div class="card-subtitle mb-2 text-muted"> Description </div>
                <p class="card-text"> A plastic pipe. Environment friendly and durable. </p>
                <div class="buttons">
                  <a id = '100' name='Pipes' onClick="get_order(this)" href="#" class="btn btn-success btn-sm" type="button"> Order Now </a> <!--ID saves the price, name stores the object name-->
                  <a href="#" class="btn btn-primary btn-sm" type=""> View Order </a>
                </div>

              </div>
        </div>


        </div><br>
    <!-- 2nd image-->
    <div class="row">
      <div class="col-sm-5">
        <div class="card" style= "width: 18rem;">

          <img src="{% static 'apex/media/bars.jpg' %}"> <!--   alt="  " -->
            <div class="card-border-primary mb-2" style="max-width: 18rem;">
              <div class="card-title"> Pipes </div>
              <div class="card-subtitle mb-2 text-muted"> Description </div>
              <p class="card-text"> A plastic pipe. Environment friendly and durable. </p>

              <a id = '500' name='Pipes' onClick="get_order(this)" href="#" class="btn btn-success btn-sm" type="button"> Order Now </a>
              <a href="#" class="btn btn-primary btn-sm" type=""> View Order </a>

            </div>

        </div>
      </div>
      </div>

    </div>
<br>
    <!-- 3rd image-->
    <div class="row">
      <div class="col-sm-5">
        <div class="card" style= "width: 18rem;">

          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
          </script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
          </script>

          <img src="{% static 'apex/media/tubes.png' %}"> <!--   alt="  " -->
            <div class="card-border-primary mb-2" style="max-width: 18rem;">
              <div class="card-title"> Pipes </div>
              <div class="card-subtitle mb-2 text-muted"> Description </div>
              <p class="card-text"> A plastic pipe. Environment friendly and durable. </p>
              <div class="buttons">
                <a id = '400' name='Pipes' onClick="get_order(this)" href="#" class="btn btn-success btn-sm" type="button"> Order Now </a>
                <a href="#" class="btn btn-primary btn-sm" type=""> View Order </a>
              </div>

            </div>
      </div>


      </div><br>
  <!-- 4th image-->
  <div class="row">
    <div class="col-sm-5">
      <div class="card" style= "width: 18rem;">

        <img src="{% static 'apex/media/tmx.jpg' %}"> <!--   alt="  " -->
          <div class="card-border-primary mb-2" style="max-width: 18rem;"">
            <div class="card-title"> Pipes </div>
            <div class="card-subtitle mb-2 text-muted"> Description </div>
            <p class="card-text"> A plastic pipe. Environment friendly and durable. </p>

            <a id = '300' name='Pipes' onClick="get_order(this)" href="#" class="btn btn-success btn-sm" type="button"> Order Now </a>
            <a href="#" class="btn btn-primary btn-sm" type=""> View Order </a>

          </div>

      </div>
    </div>
    </div>

  </div>
<br>
<div id='finalPrice'> Total Price <span id='TotalCost'>0 </span></div>
    </body>
<script src="{% static 'js/index.js' %}"></script>
{% endblock content %}
