{% extends "apex/base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'apex/image.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'apex/button.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'apex/screen.css' %}">

    <h1> Home Page </h1><br>
    <p><i><b> Apex: ‘The Top; ‘The Pinnacle’. </b></i></p>


    <body>
    <div class="container-fluid row main-div">
      <div class="col-md-8 col-lg-8 ">
        <div class="cards-list">

  <div class="card 1">
    <div class="card_image"> <img src="{% static 'apex/media/hollow.jpg' %}" /> </div>
      <div class="card_title ">
        <p> Hollows </p>
      </div>
      <div class="buttons">
        <a id='100' name='Pipes' onclick="get_order(this)" href="#" class="btn btn-success" type="button"> Order Now </a>
        <a href="#" class="btn btn-primary" type=""> View Order </a>
      </div>
  </div>

    <div class="card 2">
    <div class="card_image">
      <img src="{% static 'apex/media/bars.jpg' %}" />
      </div>
    <div class="card_title title-white">
      <p> Bars </p>
    </div>
    <div class="buttons">
      <a id='200' name='Pipes' onclick="get_order(this)" href="#" class="btn btn-success" type="button"> Order Now </a>
      <a href="#" class="btn btn-primary" type=""> View Order </a>
    </div>
  </div>

  <div class="card 3">
    <div class="card_image">
      <img src="{% static 'apex/media/tmx.jpg' %}" />
    </div>
    <div class="card_title title-white">
      <p> TMX </p>
    </div>
    <div class="buttons">
      <a id='300' name='Pipes' onclick="get_order(this)" href="#" class="btn btn-success" type="button"> Order Now </a>
      <a href="#" class="btn btn-primary" type=""> View Order </a>
    </div>
  </div>

    <div class="card 4">
      <div class="card_image">
        <img src="{% static 'apex/media/tubes.png' %}" />
        </div>
      <div class="card_title title-black">
        <p> Tubes </p>
      </div>
      <div class="buttons">
        <a id='400' name='Pipes' onclick="get_order(this)" href="#" class="btn btn-success" type="button"> Order Now </a>
        <a href="#" class="btn btn-primary" type=""> View Order </a>
      </div>
    </div>


    <div class="card 5">
      <div class="card_image">
        <img src="{% static 'apex/media/tubes.png' %}" />
        </div>
      <div class="card_title title-black">
        <p> Tubes </p>
      </div>
      <div class="buttons">
        <a id='500' name='Pipes' onclick="get_order(this)" href="#" class="btn btn-success" type="button"> Order Now </a>
        <a href="#" class="btn btn-primary" type=""> View Order </a>
      </div>
    </div>


    <div class="card 6">
      <div class="card_image">
        <img src="{% static 'apex/media/tubes.png' %}" />
        </div>
      <div class="card_title title-black">
        <p> Tubes </p>
      </div>
      <div class="buttons">
        <a id='600' name='Pipes' onclick="get_order(this)" href="#" class="btn btn-success" type="button"> Order Now </a>
        <a href="#" class="btn btn-primary" type=""> View Order </a>
      </div>
    </div>
<br>
    <div class="col-md-4 col-lg-4">
      <div class='screen'>
        <div id='finalPrice'><b> Total Price: </b><span id='TotalCost'>0 </span>
        </div>
        <script src= "{% static 'js/index.js' %}"/>

      </div>

    </div>

    </body>
{% endblock content %}
